{% extends "store/base.html" %}
{% block content %}

<!-- Search Bar -->
<form method="GET" class="mb-4">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search for clothing..."
           value="{{ query }}">
    <button class="btn btn-primary">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>

<!-- Categories -->
<div class="mb-4">
  <strong>Categories:</strong><br>
  <a href="/" class="btn btn-outline-dark btn-sm category-btn">All</a>

  {% for cat in categories %}
    <a href="/?cat={{ cat.id }}" class="btn btn-outline-primary btn-sm category-btn">
      {{ cat.name }}
    </a>
  {% endfor %}
</div>

<!-- Product Grid -->
<div class="row">
  {% for product in products %}
  <div class="col-md-3 mb-4">

    <div class="card product-card border-0 shadow-sm">
      <img src="{{ product.image.url }}" class="product-img">

      <div class="card-body">
        <h5 class="fw-bold">{{ product.title }}</h5>
        <p class="text-primary fw-bold">₹ {{ product.price }}</p>

        <a href="/product/{{ product.id }}/" class="btn btn-dark w-100">
          View Details
        </a>
      </div>
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}
