{% extends "store/base.html" %}
{% block content %}

<h2 class="mb-4"><i class="fa-solid fa-box"></i> My Orders</h2>

{% for order in orders %}
<div class="card shadow-sm mb-4">
  <div class="card-header bg-dark text-white">
    <strong>Order #{{ order.id }}</strong>
    <span class="text-light-50"> - {{ order.created_at }}</span>
  </div>

  <div class="card-body">
    <p><strong>Address:</strong> {{ order.address }}</p>

    <table class="table table-striped align-middle">
      <thead class="table-primary">
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Subtotal</th>
        </tr>
      </thead>

      <tbody>
        {% for item in order.orderitem_set.all %}
        <tr>
          <td>{{ item.product.title }}</td>
          <td><img src="{{ item.product.image.url }}" style="width:70px; border-radius:5px;"></td>
          <td>₹ {{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td class="fw-bold text-success">₹ {{ item.subtotal }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% empty %}
<p>No orders yet.</p>
{% endfor %}

{% endblock %}
